@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "tailwindcss/variants";

@import url(https://fonts.googleapis.com/css2?family=PT+Serif);

@import url(https://fonts.googleapis.com/css2?family=Space+Mono);

.float-label-input:focus-within label,
.float-label-input input:not(:placeholder-shown) + label {
    transform: translateY(-1.5rem) scale(0.75);
    background-color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
